@import url('https://fonts.googleapis.com/css2?family=Orbitron&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    position: relative;

    user-select: none;
}

body{
    background-color:darkmagenta;
    height: 100vh;
}

.key{
    aspect-ratio: 1;
    width: 100px;
    background-color: orange;
    border-radius: 100%;
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    cursor: pointer;

    position: absolute;
    right: 0;
}

.key:first-of-type{
    top: 1vh;
    left: 1vh;
    width: 10vh;
}
.key:nth-of-type(2){
    top: 5vh;
    left: 10vh;
    width: 20vh;
}
.key:nth-of-type(3){
    top: 15vh;
    right: 20vh;
}
.key:nth-of-type(4){
    top: 60vh;
    left: 50vh;
}
.key:nth-of-type(5){
    top: 40vh;
    left: 70vh;
}
.key:nth-of-type(6){
    top: 20vh;
    left: 40vh;
}
.key:nth-of-type(7){
    top: 45vh;
    left: 15vh;
}
.key:nth-of-type(8){
    top: 85vh;
    left: 85vh;
}
.key:last-of-type{
    left: 20vh;
    bottom: 10vh;
}

.key>span{
    font-family: 'Orbitron', sans-serif;
}
.key>span:first-of-type{
    font-weight: 900;
}
.key:active{
    filter: brightness(.8);
    transform: scale(.99);
}
.key.active{
    filter: brightness(.8);
}

